<div *ngIf="afAuth.user | async as user; else showLogin">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span><button routerLink="/" mat-button >{{afAuth.auth.currentUser.displayName}}</button></span>
            <span class="example-spacer"></span>
            <button mat-button>
                <mat-icon routerLink="/profile" class="example-icon">account_circle</mat-icon>
            </button>
            <button mat-button (click)="logout()" color="warning">Logout</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<ng-template #showLogin>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span><button mat-button color="primary">BadgeBook</button></span>
            <span class="example-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</ng-template>