<mat-card>
    <mat-card-title>Badges</mat-card-title>
    <div>
        <p>
            <img src="../../assets/img/hangman-icon.png" class="badgeIcon" (click)="goToHangmanGame()">
            <span matBadge="{{hscore}}" matBadgeOverlap="false">Hangman high score</span>
        </p>
    </div>

    <div>
        <p>
            <img src="../../assets/img/tank-icon.png" (click)="goToTankGame()" class="badgeIcon">
            <span matBadge="{{kills}}" matBadgeOverlap="false">Tank Game Kills</span>
        </p>
    </div>

</mat-card>