<mat-card>
    <mat-card-title>Badges</mat-card-title>
    <div>
        <p>
            <img src="../../assets/img/hangman-icon.png" class="badgeIcon" (click)="goToHangmanGame()">
            <span matBadge="{{hpercent}}" matBadgeOverlap="false">Hangman high score: {{hscore}}</span>
        </p>
    </div>

    <div>
        <p>
            <img src="../../assets/img/tank-icon.png" class="badgeIcon">
            <span matBadge="{{kills}}" matBadgeOverlap="false">Tank Game Top</span>
        </p>
    </div>

</mat-card>