<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>badgebook</span>
    </mat-toolbar>
    <!-- Chat component container body-->
    <ng-container *ngIf="chat$ | async as chat">

      <div class="top">
        <p>
            https://firestore-megachat.firebaseapp.com/chats/{{ chat.id }}
        </p>
      </div>
  
  
      <div class="chat">
  
  
        <div class="msg" *ngFor="let msg of chat.messages; trackBy: trackByCreated">
  
          <div class="user">
            <img [src]="msg.user?.photoURL">
            <div><span>{{ msg.user?.displayName }}</span></div>
          </div>
  
          <p>{{ msg.content }}</p>
  
        </div>
  
      </div>
  
      <div class="form">
        <input [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)">
  
        <button (click)="submit(chat.id)">Send</button>
      </div>
  
  </ng-container>
    <!-- Chat container ends here-->
  </mat-sidenav-content>
</mat-sidenav-container>
