.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.my_conversation {
  text-align: left;
}
.my_conversation h5 {
  text-align: right;
}

.messageHere {
  width: 100%;
}