<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

    <mat-toolbar>Chika</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="sendMessage(user.uid, user.name)" *ngFor= "let user of usersLocal">{{user.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>badgebook</span>
    </mat-toolbar>

    <!-- Message History -->
    <mat-list>

        <mat-list-item class="my_conversation" *ngFor= "let msg of chatz">
          <h2 matLine> {{msg.uid}} </h2>
          <h5>{{msg.createdAt}}</h5>
          <p matLine class="demo-2">{{msg.content}}</p>
        </mat-list-item>

    </mat-list>
    
      <mat-card>
          <mat-form-field class="messageHere">
              <textarea matInput placeholder="Leave a comment" cols="40" placeholder="text" #Message></textarea>
            </mat-form-field>
            <div class="example-button-row">
                <button mat-raised-button color="accent" (click)="submit(Message.value)">Send</button>
            </div>
      </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
