<mat-card>

    <mat-card-title (click)="foo()"> {{name}}</mat-card-title>
    <div>
        <button id="btnEditProfilePicture" mat-stroked-button type="button" (click)="filePicker.click()">Edit Profile Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <img src="../../assets/img/johnny.jpeg" id="profileImg">
</mat-card>
<br>

<app-badges></app-badges>
<br>
<mat-card>
  <mat-card-title>Description
    <span *ngIf="isDisabled == true"><a class="editbtn" (click)="toggleDisabled()"><mat-icon>border_color</mat-icon></a></span>
    <span *ngIf="isDisabled == false"><a class="editbtn" (click)="toggleDisabled()"><mat-icon >done</mat-icon></a></span>
  </mat-card-title>
  <ckeditor *ngIf="isDisabled == false" [editor]="Editor" [disabled]="isDisabled" [(ngModel)]="model.editorData" (change)="onChange($event)"></ckeditor>
  <ckeditor *ngIf="isDisabled == true" [editor]="Editor" [disabled]="isDisabled" [(ngModel)]="model.editorData" [config]={toolbar:[]} (change)="onChange($event)"></ckeditor>
</mat-card>
    <mat-card-title>Description</mat-card-title>
    {{description}}

</mat-card>
