<mat-card>
  <mat-card-title>Johnny Ng</mat-card-title>
  <div>
    <button id="btnEditProfilePicture" mat-stroked-button type="button" (click)="filePicker.click()">Edit Profile Image</button>
    <input type="file" #filePicker (change)="onImagePicked($event)" >
  </div>
  <img src="../../assets/img/johnny.jpeg" id="profileImg">
</mat-card>
<br>

<app-badges></app-badges>
<br>

<mat-card>
  <mat-card-title>Description</mat-card-title>
  <p>My name is Earl. I am fast and write PHP for BCIT schools. here is my loooong story ... . Here is my project
    screenshot<br>
    <img src="https://cdn3.iconfinder.com/data/icons/street-food-and-food-trucker-1/64/hamburger-fast-food-patty-bread-512.png"
      alt="Earl's project" id="imgProj"> </p>
</mat-card>
