<!-- <ng-select [items]="UserNameList | async" bindLabel="name" autofocus bindValue="uid" [(ngModel)]="filter">
</ng-select>
{{filter}}

<div id="searchResultList " style="padding-top: 60px">
    <ul>
        <li class="text" *ngFor="let user of users | async ">
            <a (click)="displayProfile(user) "> {{user.name}}</a>
        </li>
    </ul>
    <ul id="myUL" onkeyup=" ">
    </ul>
</div>

</div> -->
<h1>Search results for "{{filter}}"</h1>
<li *ngFor="let user of results">
    <a>{{user.name}}</a>
</li>


<h1>{{kills}}</h1>
<h1>{{hscore}}</h1>
<h1>{{hpercent}}</h1>
